In [7]:
import pandas as pd

df=pd.DataFrame({"Deneyim Yılı":[5,7,3,3,2,7,3,10,6,4,8,1,1,9,1],"Maaş":[600,900,550,500,400,950,540,1240,900,550,1100,460,400,1000,380]})

In [8]:
df

    Deneyim Yılı  Maaş
0              5   600
1              7   900
2              3   550
3              3   500
4              2   400
5              7   950
6              3   540
7             10  1240
8              6   900
9              4   550
10             8  1100
11             1   460
12             1   400
13             9  1000
14             1   380

In [12]:
df["Prediction"]=df.apply(lambda x: 275 + x["Deneyim Yılı"]*90,axis=1)

In [13]:
df.head()

   Deneyim Yılı  Maaş  Prediction
0             5   600         725
1             7   900         905
2             3   550         545
3             3   500         545
4             2   400         455

In [15]:
df["Hata"]=df.apply(lambda x: x["Maaş"]-x["Prediction"],axis=1)

In [17]:
df["Hata Kareleri"]=df.apply(lambda x: (x["Maaş"]-x["Prediction"])**2,axis=1)

In [19]:
df["Mutlak Hata"]=df.apply(lambda x: abs(x["Maaş"]-x["Prediction"]),axis=1)

In [20]:
df.head()

   Deneyim Yılı  Maaş  Prediction  Hata  Hata Kareleri  Mutlak Hata
0             5   600         725  -125          15625          125
1             7   900         905    -5             25            5
2             3   550         545     5             25            5
3             3   500         545   -45           2025           45
4             2   400         455   -55           3025           55