In [1]:
text="The goal is turn data into information, and information into insight"
text=text.upper().replace(","," ").replace("."," ").split()
print(text)

['THE', 'GOAL', 'IS', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

In [2]:
lst=["D","A","T","A","S","C","I","E","N","C","E"]
len(lst)
lst[0]
lst[10]
lst[0:4]
del(lst[8])
lst.append(1)
lst.insert(8,"N")

In [3]:
dict={"Christian" : ["America",18], "Daisy":["England",12],"Antonio":["Spain",22],'Dante':["Italy",25]}
dict.keys()
dict.values()
dict.update({"Daisy":["England",13]})
dict.update({"Ahmet":["Turkey",24]})
del(dict["Antonio"])
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [17]:
a = [2, 13, 18, 93, 22]
def func(x):
    tek = []
    çift = []
    for i in x:
        if i % 2 == 0:
            çift.append(i)
        else:
            tek.append(i)
    return tek, çift
tek, çift = func(liste)
func(liste)

([13, 93], [2, 18, 22])

In [6]:
ogrencıler=["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
for index,i in enumerate(ogrencıler[:3],start=1):
    print(f"Mühendilik Fakultesi",index,".","Öğrenci:",i)
for index,i in enumerate(ogrencıler[3:],start=1):
    print(f"Tıp Fakultesi",index,".","Öğrenci:",i)

Mühendilik Fakultesi 1 . Öğrenci: Ali
Mühendilik Fakultesi 2 . Öğrenci: Veli
Mühendilik Fakultesi 3 . Öğrenci: Ayşe
Tıp Fakultesi 1 . Öğrenci: Talat
Tıp Fakultesi 2 . Öğrenci: Zeynep
Tıp Fakultesi 3 . Öğrenci: Ece

In [1]:
ders_kodu = ["CMP1005", "PYS1001", "HUK1005", "SEN2204"]
kredi = [3, 4, 2, 4]
kontenjan = [30, 75, 150, 25]

for ders, kredi, kontenjan in zip(ders_kodu, kredi, kontenjan):
    print(f"Kredisi {kredi} olan {ders} kodlu dersin kontenjanı {kontenjan} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PYS1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [7]:
kume1=set(["data","python"])
kume2=set(["data","function","qcut","lambda","python","miuul"])
def seto(kume1,kume2):
    if kume1.issuperset(kume2):
        print(kume1.union(kume2))
    else:
        print(kume2.difference(kume1))
seto(kume1,kume2)

{'function', 'qcut', 'lambda', 'miuul'}